<div class="card">
    <h2 class="mb-5 ms-5 header poppins-medium">{{headerText}}</h2>
    <div class="card-body">
        <p class="additional-info poppins-medium mb-1">{{additionalInfo}}</p>
        <p class="additional-info poppins-medium">{{additionalInformation}}</p>

        <!-- <div class="container">
            <div class="row">
              <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Monday</th>
                      <th scope="col">Tuesday</th>
                      <th scope="col">Wednesday</th>
                      <th scope="col">Thursday</th>
                      <th scope="col">Friday</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of rows">
                      <td *ngFor="let column of columns">{{ row + '-' + column }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> -->

        <div class="menu-options d-flex justify-content-center">
            <img class="pe-2" src="../../../assets/my-school-icon.png" alt="">
            <img class="pe-2" src="../../../assets/classes-icon.png" alt="">
            <img class="pe-2" src="../../../assets/homework-icon.png" alt="">
            <img src="../../../assets/messages-icon.png" alt="">
        </div>
    </div>
</div>