@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";


.login-container {
  width: 430px;
  margin: 0 auto;
  background-image: url("../../../assets/card-background.png");
  height: 720px;
  margin-top: -250px;

  .text-container {
    background-image: url("../../../assets/objects-background.png");
    width: 400px;
    height: 315px;

    h2 {
      padding-top: 125px;
      color: $white-color;
    }

    p {
      color: $gray-color;
      font-size: $size-14;
    }
  }

  .form {
    bottom: 80px;
    .form-group {
      margin-bottom: $size-15;

      label {
        font-size: $size-14;
        color: $gray-color;
        padding-left: 35px;
      }

    input {
      width: 80%;
      padding: $size-8;
      font-size: $size-16;
      border-radius: $size-8;
      background-image: url("../../../assets/input.png");
    }

      p {
        font-size: $size-11;
        color: $gray-color;
        margin-top: $size-10;
        padding-right: 38px;
      }
    }
  }

  button {
    width: 80%;
    padding: $size-10;
    font-size: $size-18;
    background: linear-gradient($green-color, $orange-color);
    color: #fff;
    border: none;
    border-radius: $size-15;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .icons-container {
    padding-top: $size-15;
    .continue-text {
      text-align: center;
      padding-bottom: $size-15;
      p {
        padding: 0 5px 0 5px;
        font-size: $size-11;
        color: $gray-second-color;
      }
    }
    img {
      cursor: pointer;
    }
  }
}

.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: calc(100% + 10px);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: $size-20;
  z-index: -1;
}
