<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid py-2">
    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="/dashboard">
        <img src="../../../assets/app-logo.png" alt="Logo of the app" />
      </a>
      <a
        class="text-decoration-none text-white poppins-regular"
        href="/dashboard"
        >Ime aplikacije</a
      >
    </div>
    <div class="btn-group dropdown-center">
      <button
        style="border: none; background-color: transparent"
        type="button"
        class="dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img src="../../../assets/avatar.png" alt="Avatar with dropdown for more options" />
      </button>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
        <li><span class="dropdown-item-text">Your Profile</span></li>
        <li><a class="dropdown-item" href="/dashboard">Settings</a></li>
        <li><a class="dropdown-item" href="">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>
